/**/
// large
@media (max-width:1440px) {
  /**/
  // .menuProyectos li {
  //     width: 16.40%;
  // }
  // .menuProyectos li a {
  //     font-size: 1.4em;
  // }
}
// /**/
// .hablaWidget {
//     font-size: 1.2em;
// }
@media (max-width:1024px) {
  /**/
  //     .menuProyectos li {
  //         width: 16.20%;
  //     }
  //     .menuProyectos li a {
  //         font-size: 1.2em;
  //     }
}
/**/
// .hablaWidget {
//     font-size: 1em;
// }
// small
@media (max-width:640px) {
  /**/
  .mixfooter {

    height: auto;

  }
  .copyright h5 {
    text-align: left;
  }

  .mixlogoheader {
  	line-height: 0px;
  	cursor: link;
  	height: auto;
  	width: auto;
  	font-family: 'heavy_dataregular', Helvetica;
  	// margin-bottom: 0;
  	// margin-left: 10px;
  	// margin-right: 10px;
  }
  .mixlogoheader:focus {
  	cursor: link;
  }
}
//xsmall
@media (max-width:320px) {
  /**/
  // .menuProyectos li {
  //     width: 16.0%;
  // }
  // .menuProyectos li a {
  //     font-size: 0.8em;
  // }
  /**/
  // .hablaWidget {
  //     font-size: 0.8em;
  // }
}
